# Ques-1 DATA analyist

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [5]:
driver=webdriver.Chrome(r"C:\Webchrome_driver_1\chromedriver.exe")

In [6]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('data analyst')

In [7]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [8]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [9]:
job_title=[]
company_name=[]
job_location_list=[]
experience_list=[]

In [10]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="ad41c04e-a3d9-4c25-91af-4a2113836f3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="047d7556-fde7-41f3-8c77-14d26632c012")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="e33e7b1b-53b6-4f5c-9691-e4cdc1c8e20a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="e4724093-cc14-46a7-a1cc-22513e8baa0e")>]

In [11]:
for i in title_tags:
    title=i.text
    job_title.append(title)

In [12]:
job_title[0:4]

['Data Analyst / Business Analyst',
 'Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Business analyst + data Analysis']

In [13]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="95a7ba3e-8c7e-4bd8-842b-74e751cc1298")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="122e898d-a9af-415d-a412-6065311b482c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="1b9f0077-80f8-46f4-bd9e-292276b6e345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="68a836d5-6f62-4307-b921-85016e7434f9")>]

In [14]:
for i in company_tags:
    company=i.text
    company_name.append(company)

In [15]:
company_name[0:4]

['METRO Cash & Carry',
 'METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'Anlage Infotech (I) Pvt. Ltd.']

In [16]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="8180d0e8-a8a5-4abd-8598-f126871e63bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="173c5996-6892-45f0-992b-a4fbbee74270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="c7c6f7de-3ee4-4812-8943-ecfad60b3a07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="b926ed06-781f-462b-842e-18d8e2e0a4d2")>]

In [17]:
for i in experience_tags:
    experience=i .text
    experience_list.append(experience)

In [18]:
experience_list[0:4]

['3-8 Yrs', '3-8 Yrs', '2-7 Yrs', '5-10 Yrs']

In [19]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location'] /span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="05c5db8c-1909-4b52-bbd4-df80113271af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="26fc1091-8cbd-4cb9-b231-412d43fa1317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="42c1a8be-618c-455f-8137-e386356e7a43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af72eee9253925133c6492058fe38dd1", element="56e403d3-591a-476d-9a29-cb4d202b6090")>]

In [20]:
for i in location_tags:
    location=i.text
    job_location_list.append(location)

In [21]:
job_location_list[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [22]:
print(len('job_title'),len(company_name),len(experience_list),len(job_location_list))

9 20 20 20

In [23]:
df=pd.DataFrame({'JOB_TITLE':job_title,'COMPANY_NAME':company_name,'EXPERIENCE_LIST':experience_list,'JOB_LOCATION_LIST':job_location_list})

In [24]:
df

,JOB_TITLE,COMPANY_NAME,EXPERIENCE_LIST,JOB_LOCATION_LIST
0,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
1,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
2,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
3,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
4,Data Analyst,upGrad,1-3 Yrs,Bangalore/Bengaluru
5,Associate Professional Data Analyst,DXC Technology,3-6 Yrs,Bangalore/Bengaluru
6,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Thomson Reuters,2-4 Yrs,Bangalore/Bengaluru
9,Data Analyst,referral,2-5 Yrs,Bangalore/Bengaluru
10,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
11,Data Analyst,Allegis Services India Pvt. Ltd.,8-13 Yrs,Bangalore/Bengaluru
12,Immediate opening For GCP - Data Analyst / Spe...,VERTICURL MARKETING PRIVATE LIMITED,3-5 Yrs,"Coimbatore, Bangalore/Bengaluru"
13,Data Analyst,referral,2-5 Yrs,Bangalore/Bengaluru
14,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
15,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
16,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,2-7 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
17,FIBI Master Data Management Analyst,Cargill,3-6 Yrs,Bangalore/Bengaluru
18,Data Analyst - Alteryx,Capco,4-7 Yrs,Bangalore/Bengaluru
19,Consultant - Data Analyst,Flipkart,1-3 Yrs,Bangalore/Bengaluru

In [25]:
df.iloc[0:10,]

,JOB_TITLE,COMPANY_NAME,EXPERIENCE_LIST,JOB_LOCATION_LIST
0,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
1,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
2,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
3,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
4,Data Analyst,upGrad,1-3 Yrs,Bangalore/Bengaluru
5,Associate Professional Data Analyst,DXC Technology,3-6 Yrs,Bangalore/Bengaluru
6,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Thomson Reuters,2-4 Yrs,Bangalore/Bengaluru
9,Data Analyst,referral,2-5 Yrs,Bangalore/Bengaluru

# Ques-2 DATA SCIENTIST

In [33]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [34]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [35]:
driver=webdriver.Chrome(r"C:\Webchrome_driver_1\chromedriver.exe")

In [36]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [37]:
driver.get("https://www.naukri.com/")

In [38]:
search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Scientist')

In [39]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Bangalore')

In [40]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [41]:
job_title=[]
company_name=[]
job_location_list=[]
experience_list=[]

In [42]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="8a2a2b1d-a3e9-47a8-ac83-aa018bd62db7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="b4358a62-a1c9-4a71-9a69-6be57301a3fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="85ba9e46-d4d3-4513-87c4-5a8aea4b83c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="7986504a-942f-4c8b-b948-5fca3699e6b1")>]

In [43]:
for i in title_tags:
    title=i.text
    job_title.append(title)

In [44]:
job_title[0:4]

['Senior Data Scientist',
 'Sr. Analyst - Applied Data Scientist',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Data Scientist']

In [45]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="7190f8ed-8909-4672-9062-3158487f0317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="b456a229-7295-4120-82da-12dd8554ddea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="12394853-1a89-464a-bf16-9b5be1d0ddc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="92c455ee-7762-4dbc-825f-868d8527960e")>]

In [46]:
for i in company_tags:
    company=i.text
    company_name.append(company)

In [47]:
company_name[0:4]

['UPL', 'Tesco', 'SAP India Pvt.Ltd', 'UPL']

In [48]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="9be793a6-eb4b-4610-84fa-e2517cb0ef8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="8b0c0dd8-c898-46e0-a830-a6af423472ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="a62f0d55-cbea-4bab-bd39-9d8ab729d14a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="7d3ec680-e97b-4d4f-864c-4c7f87f0b36c")>]

In [49]:
for i in experience_tags:
    experience=i .text
    experience_list.append(experience)

In [50]:
experience_list[0:4]

['3-6 Yrs', '3-5 Yrs', '5-10 Yrs', '1-4 Yrs']

In [51]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="033e0503-8d84-4f3f-a6ad-3854f1a29b64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="193218ed-61d1-4297-8f55-d125f94804af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="3f892cbf-bbdf-4276-9e73-bad869868894")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b169fa5b33362483172c81f9fda6a8a", element="f11e51ed-9e8a-4d71-9e99-d76cb9a548b4")>]

In [52]:
for i in location_tags:
    location=i.text
    job_location_list.append(location)

In [53]:
job_location_list[0:4]

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [54]:
print(len('job_title'),len(company_name),len(experience_list),len(job_location_list))

9 20 20 20

In [55]:
df=pd.DataFrame({'JOB_TITLE':job_title,'COMPANY_NAME':company_name,'EXPERIENCE_LIST':experience_list,'JOB_LOCATION_LIST':job_location_list})

In [56]:
df

,JOB_TITLE,COMPANY_NAME,EXPERIENCE_LIST,JOB_LOCATION_LIST
0,Senior Data Scientist,UPL,3-6 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
1,Sr. Analyst - Applied Data Scientist,Tesco,3-5 Yrs,Bangalore/Bengaluru
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru
3,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
4,Expert Data Scientist,UPL,6-9 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
5,Principal Data Scientist,UPL,12-16 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
6,Analyst - Applied Data Scientist,Tesco,1-2 Yrs,Bangalore/Bengaluru
7,Research Data Scientist,Mavenir,4-9 Yrs,Bangalore/Bengaluru
8,Senior Data Scientist Grade12,Flipkart,5-10 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist Grade12,Flipkart,5-7 Yrs,Bangalore/Bengaluru
10,Assistant Manager/Manager/Senior Manager - Dat...,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
11,Data Scientist / Machine learning Engineer- Py...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
12,Data Scientist: Advanced Analytics,IBM,3-7 Yrs,Bangalore/Bengaluru
13,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru
14,Data Scientist: Advanced Analytics,IBM,5-7 Yrs,Bengaluru/Bangalore
15,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
16,Data Scientist,VISA,3-7 Yrs,Bangalore/Bengaluru
17,Data Scientist: Artificial Intelligence,IBM,10-12 Yrs,Bangalore/Bengaluru
18,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs,Bengaluru/Bangalore
19,Data Scientist: Artificial Intelligence,IBM,11-12 Yrs,Bengaluru/Bangalore

In [57]:
df.iloc[0:10,]

,JOB_TITLE,COMPANY_NAME,EXPERIENCE_LIST,JOB_LOCATION_LIST
0,Senior Data Scientist,UPL,3-6 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
1,Sr. Analyst - Applied Data Scientist,Tesco,3-5 Yrs,Bangalore/Bengaluru
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,5-10 Yrs,Bangalore/Bengaluru
3,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
4,Expert Data Scientist,UPL,6-9 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
5,Principal Data Scientist,UPL,12-16 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
6,Analyst - Applied Data Scientist,Tesco,1-2 Yrs,Bangalore/Bengaluru
7,Research Data Scientist,Mavenir,4-9 Yrs,Bangalore/Bengaluru
8,Senior Data Scientist Grade12,Flipkart,5-10 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist Grade12,Flipkart,5-7 Yrs,Bangalore/Bengaluru

# Ques-4 FLIPKART.COM

In [179]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [181]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [183]:
driver=webdriver.Chrome(r"C:\Webchrome_driver_1\chromedriver.exe")

In [184]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [14]:
driver.get("https://www.flipkart.com/")

In [15]:
search_field=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field.send_keys('sunglasses')

In [16]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [10]:
sunglasses_name=[]
prices_total=[]
sunglasses_specification=[]

In [9]:
sunglass_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
sunglass_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="c4ad3153-1197-4cd0-80a2-7742a4ab4991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="bcb02d1d-61bf-43d0-8143-1b1c6290dc13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="d45de7d8-5c8f-4433-bd91-e87f7925969c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="bc8625c3-d91d-489e-b51a-610d8ab48cd0")>]

In [10]:
for i in sunglass_tags:
    sunglass=i.text
    sunglasses_name.append(sunglass)

In [11]:
sunglasses_name[0:4]

['PIRASO', 'Elligator', 'Elligator', 'SUNBEE']

In [12]:
specification_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
specification_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="69ad23ee-9141-44cd-bd4d-b703178b41f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="d66bfff9-5c07-4183-95fe-05d9cceb9bda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="ec9cdc1f-96ad-4711-8bfd-05d624abd47b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="517d722b-f1ec-42a7-a58e-bc61296c079a")>]

In [13]:
for i in specification_tags:
    sunglass=i.text
    sunglasses_specification.append(sunglass)

In [14]:
sunglasses_specification[0:4]

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...']

In [15]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="e320016c-62bc-4261-aa2a-c97376679015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="623320d0-56d6-4512-bba5-f20625c813c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="a8eb950a-05cb-4811-9518-dd502de28114")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad9797d202ebafba8f0099f12c4dc744", element="d5a078ff-91f2-4cd0-aab1-f5497878fe48")>]

In [16]:
for i in price_tags:
    price=i.text
    prices_total.append(price)

In [17]:
prices_total[0:4]

['249', '224', '295', '283']

In [18]:
print(len(sunglasses_name),len(sunglasses_specification),len(prices_total))

40 40 40

In [19]:
df1=pd.DataFrame({'SUNGLASSES_NAME':sunglasses_name,'SUNGLASSES_SPECIFICATION':sunglasses_specification, 'PRICES_TOTAL':prices_total})

In [20]:
df1

,SUNGLASSES_NAME,SUNGLASSES_SPECIFICATION,PRICES_TOTAL
0,PIRASO,UV Protection Aviator Sunglasses (54),249
1,Elligator,UV Protection Wayfarer Sunglasses (53),224
2,Elligator,UV Protection Round Sunglasses (54),295
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",283
4,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",219
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),647
6,New Specs,UV Protection Rectangular Sunglasses (Free Size),269
7,PIRASO,UV Protection Wayfarer Sunglasses (32),225
8,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",195
9,Fastrack,UV Protection Rectangular Sunglasses (Free Size),639
10,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),719
11,hipe,"Gradient, UV Protection Round Sunglasses (Free...",177
12,PIRASO,UV Protection Aviator Sunglasses (54),224
13,PIRASO,UV Protection Aviator Sunglasses (54),224
14,PIRASO,UV Protection Rectangular Sunglasses (52),280
15,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),299
16,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),399
17,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",474
18,Singco India,"Riding Glasses, UV Protection Clubmaster, Wayf...",329
19,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",209
20,PIRASO,UV Protection Aviator Sunglasses (58),349
21,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),219
22,Fastrack,UV Protection Shield Sunglasses (Free Size),809
23,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",299
24,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),639
25,Elligator,UV Protection Aviator Sunglasses (55),333
26,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",217
27,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",259
28,New Specs,"UV Protection, Mirrored Round Sunglasses (Free...",329
29,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",349
30,kingscape,UV Protection Rectangular Sunglasses (Free Size),137
31,maxa,"UV Protection, Riding Glasses Rectangular, Way...",189
32,SRPM,UV Protection Wayfarer Sunglasses (50),249
33,New Specs,UV Protection Round Sunglasses (Free Size),264
34,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",575
35,kingsunglasses,UV Protection Round Sunglasses (54),216
36,GANSTA,UV Protection Aviator Sunglasses (57),284
37,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",379
38,AISLIN,"UV Protection, Gradient Round, Cat-eye Sunglas...",498
39,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),499

In [33]:
t_list=[]
for i in range(0,3):
    sunglass_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in sunglass_tags:
        sunglass=i.text
        t_list.append(sunglass)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [34]:
len(t_list)

120

In [17]:
price_list=[]
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        price_list.append(price)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [18]:
len(price_list)

120

In [28]:
product_des=[]
for i in range(0,3):
    des_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
    for i in des_tags:
        des=i.text
        product_des.append(des)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [29]:
len(product_des)

120

In [35]:
df1=pd.DataFrame({'T_LIST':t_list,'PRICE_LIST':price_list,'PRODUCT_LIST':product_des})

In [36]:
df1

,T_LIST,PRICE_LIST,PRODUCT_LIST
0,ROYAL SON,630,UV Protection Round Sunglasses (54)
1,ROYAL SON,701,UV Protection Aviator Sunglasses (54)
2,AISLIN,295,"UV Protection, Night Vision, Riding Glasses Wa..."
3,Ray-Ban,249,UV Protection Wayfarer Sunglasses (Free Size)
4,ROYAL SON,219,"UV Protection, Polarized, Mirrored Rectangular..."
...,...,...,...
115,AISLIN,649,Gradient Round Sunglasses (52)
116,Ray-Ban,323,"UV Protection, Mirrored Round Sunglasses (Free..."
117,chawla fashion,222,"UV Protection, Gradient Butterfly, Over-sized ..."
118,AISLIN,224,UV Protection Aviator Sunglasses (58)
119,NuVew,945,UV Protection Retro Square Sunglasses (58)

In [37]:
df1.head(100)

,T_LIST,PRICE_LIST,PRODUCT_LIST
0,ROYAL SON,630,UV Protection Round Sunglasses (54)
1,ROYAL SON,701,UV Protection Aviator Sunglasses (54)
2,AISLIN,295,"UV Protection, Night Vision, Riding Glasses Wa..."
3,Ray-Ban,249,UV Protection Wayfarer Sunglasses (Free Size)
4,ROYAL SON,219,"UV Protection, Polarized, Mirrored Rectangular..."
...,...,...,...
95,AISLIN,649,UV Protection Wayfarer Sunglasses (59)
96,ROZZETTA CRAFT,"9,259","by Lenskart Polarized, UV Protection Round Sun..."
97,NuVew,207,"UV Protection, Gradient Retro Square, Over-siz..."
98,elegante,419,"UV Protection, Toughened Glass Lens Retro Squa..."
99,NuVew,675,UV Protection Round Sunglasses (Free Size)

# Ques-3: Naukri.com

In [280]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [281]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [232]:
driver=webdriver.Chrome(r"C:\Webchrome_driver_1\chromedriver.exe")

In [233]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [114]:
driver.get("https://www.naukri.com/")

In [115]:
search_field_designation=driver.find_element_by_class_name('suggestor-input ')
search_field_designation.send_keys('Data Scientist')

In [116]:
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys('Delhi/NCR')

In [117]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [118]:
salary_filter_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]')
salary_filter_button.click()

In [119]:
job_title_list=[]
job_location_list=[]
company_name_list=[]
experience_list=[]

In [120]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    title=i.text
    job_title_list.append(title)

In [121]:
job_title_list[0:4]

['Data Scientist',
 'Junior Data Scientist',
 'Data Scientist - Internet Jobs - II',
 'Associate Scientist - Data Engineering']

In [122]:
len(job_title_list)

20

In [123]:
location_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
for i in location_tags:
    location=i.text
    job_location_list.append(location)

In [124]:
job_location_list[0:4]

['Noida, Bangalore/Bengaluru',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram']

In [125]:
len(job_location_list)

20

In [126]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company=i.text
    company_name_list.append(company)

In [127]:
company_name_list[0:4]

['Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'Jobs Territory',
 'AXA Technology Services India Pvt. Ltd']

In [128]:
len(company_name_list)

20

In [129]:
experience_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span[1]')
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)

In [130]:
 experience_list[0:4]

['3-6 Yrs', '1-2 Yrs', '3-6 Yrs', '2-5 Yrs']

In [131]:
len(experience_list)

20

In [132]:
df=pd.DataFrame({'JOB_TITLE':job_title_list,'JOB_LOCATION_LIST':job_location_list,'company_name_list':company_name_list,'EXPERIENCE_LIST':experience_list})

In [133]:
df

,JOB_TITLE,JOB_LOCATION_LIST,company_name_list,EXPERIENCE_LIST
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs
2,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jobs Territory,3-6 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
5,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
6,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
9,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
10,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
11,Senior Data Scientist,Delhi,iNICU,1-5 Yrs
12,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs
13,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
14,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
15,Associate Data Scientist,Noida,Right Step Consulting,3-6 Yrs
16,Junior AI Data Scientist,New Delhi,Seven Consultancy (HR Solution),1-6 Yrs
17,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
18,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
19,Data Scientist,Gurgaon,itForte Staffing Services Private Ltd.,3-8 Yrs

In [134]:
df.head(10)

,JOB_TITLE,JOB_LOCATION_LIST,company_name_list,EXPERIENCE_LIST
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs
2,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jobs Territory,3-6 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
5,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
6,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
7,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
8,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
9,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs

# Ques-6: Sneakers

In [197]:
 driver.get("https://www.flipkart.com/")

In [198]:
sneakers_search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
sneakers_search.send_keys('sneakers')

In [199]:
search_button=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [160]:
Brand_name=[]
for i in range(0,3):
    brand_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand=i.text
        Brand_name.append(brand)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [162]:
len(Brand_name)

120

In [163]:
price_list=[]
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        price_list.append(price)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [164]:
len( price_list)

120

In [202]:
discount_price_list=[]
for i in range(0,3):
    discount_price_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for i in discount_price_tags:
        discount_price=i.text
        discount_price_list.append(price)
    next_button=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(5)

In [203]:
len(discount_price_list)

119

In [207]:
df2=pd.DataFrame({'BRAND_NAME':Brand_name,'price_list':price_list,'DISCOUNT_PRICE':discount_price})

In [208]:
df2

       BRAND_NAME price_list DISCOUNT_PRICE
0         Numenzo     1,362        66% off
1          BRUTON       666        66% off
2            PUMA       499        66% off
3        ADCLICKS     4,299        66% off
4        Navtrend     1,289        66% off
..            ...        ...            ...
115        Tryviz       299        66% off
116      Roadster     1,559        66% off
117  Jack Diamond       649        66% off
118         ASIAN       823        66% off
119          PUMA     4,888        66% off

[120 rows x 3 columns]

In [209]:
df2.head(100)

   BRAND_NAME price_list DISCOUNT_PRICE
0     Numenzo     1,362        66% off
1      BRUTON       666        66% off
2        PUMA       499        66% off
3    ADCLICKS     4,299        66% off
4    Navtrend     1,289        66% off
..        ...        ...            ...
95     SWIGGY       706        66% off
96       PUMA     3,731        66% off
97   RED TAPE     1,618        66% off
98       PUMA     1,945        66% off
99      Zorth       480        66% off

[100 rows x 3 columns]

# Ques-:7 https://www.myntra.com/shoes

In [28]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.5)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [29]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver=webdriver.Chrome(r"C:\Webchrome_driver_1\chromedriver.exe")

In [267]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [30]:
driver.get("https://www.myntra.com/shoes")

In [33]:
price_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [32]:
black_filter=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
black_filter.click()

In [36]:
Brand_of_shoe=[]
for i in range(0,3):
    brand_tags=driver.find_elements_by_xpath('//span[@class="product-wishlistFlex product-actionsButton product-wishlist "]')
    for i in brand_tags:
        brand=i.text
        Brand_of_shoe.append(brand)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)

In [37]:
len(Brand_of_shoe)

150

In [41]:
shoe_des=[]
for i in range(0,3):
    des_tags=driver.find_elements_by_xpath('//h4[@class="product-sizes"]')
    for i in des_tags:
        des=i.text
        shoe_des.append(des)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)

In [42]:
len(shoe_des)

150

In [44]:
shoe_name=[]
for i in range(0,3):
    name_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for i in name_tags:
        name=i.text
        shoe_name.append(name)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)

In [45]:
len(shoe_name)

150

In [49]:
price_list=[]
for i in range(0,3):
    price_tags=driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price_tags:
        price=i.text
        price_list.append(price)
    next_button=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    next_button.click()
    time.sleep(5)

In [50]:
len(price_list)

150

In [51]:
df=pd.DataFrame({'BRAND_SHOE':Brand_of_shoe,'SHOE_DES':shoe_des,'SHOE_NAME':shoe_name,'PRICE_LIST':price_list})

In [52]:
df

    BRAND_SHOE SHOE_DES        SHOE_NAME                 PRICE_LIST
0                        PUMA Motorsport                   Rs. 7499
1                               Skechers  Rs. 7199Rs. 8999(20% OFF)
2                                   Nike                  Rs. 13995
3                           UNDER ARMOUR                   Rs. 7999
4                                   ALDO                   Rs. 9999
..         ...      ...              ...                        ...
145                                 Geox                  Rs. 10999
146                                 Geox                  Rs. 12999
147                                 Geox                  Rs. 11990
148                                 Geox                   Rs. 9990
149                                 ALDO                   Rs. 9999

[150 rows x 4 columns]

In [53]:
df.head(100)

   BRAND_SHOE SHOE_DES        SHOE_NAME                  PRICE_LIST
0                       PUMA Motorsport                    Rs. 7499
1                              Skechers   Rs. 7199Rs. 8999(20% OFF)
2                                  Nike                   Rs. 13995
3                          UNDER ARMOUR                    Rs. 7999
4                                  ALDO                    Rs. 9999
..        ...      ...              ...                         ...
95                                ASICS   Rs. 8499Rs. 9999(15% OFF)
96                          RARE RABBIT  Rs. 7149Rs. 10999(35% OFF)
97                                 ALDO                    Rs. 9999
98                            J.FONTINI                    Rs. 7490
99                              Bugatti                    Rs. 7999

[100 rows x 4 columns]